@import url(./Styles/reset.css);

body {
  margin: 0;
  font-family: "Overpass", "Roboto", sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

li > a {
  color: black;
  text-decoration: none;
}

.card-icon {
  font-size: 2rem;
  -webkit-background-clip: text !important;
  -webkit-text-fill-color: transparent;
}
