@import url(./Styles/reset.css);

body {
  margin: 0;
  font-family: "Overpass", "Roboto", sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

.card-icon {
  font-size: 2rem;
  /* background: linear-gradient(135deg, #d64545 40%, #ef8200); */
  -webkit-background-clip: text !important;
  -webkit-text-fill-color: transparent;
}
